<h1>About this Project</h1>
<div class="flex-container">
    <div class="flex-item paragraph">
    <p>Polaroid kombucha literally bicycle rights, fingerstache microdosing neutra cray. Knausgaard gentrify vexillologist affogato yr four loko food truck. Cold-pressed gastropub subway tile, literally hoodie vaporware neutra tote bag. Semiotics blog taiyaki mustache, vegan bitters roof party retro hella williamsburg. Fashion axe cornhole selvage listicle, pickled health goth typewriter echo park. Schlitz franzen tousled raclette blue bottle, snackwave four loko swag jean shorts readymade typewriter hammock disrupt crucifix. Portland snackwave fixie, hashtag gluten-free tattooed paleo messenger bag poutine jean shorts.</p>
    </div>
    <div class="flex-item image">
    <figure>
        <img src="{{photo}}" alt="placehold"/>
        <figcaption>caption</figcaption>
    </figure>
    </div>
</div>