<h1>About this Project</h1>
<div class="flex-container" style="width: 50%">
    <div class="flex-item paragraph">
    <p>This project has been built using the Angular (2) framework.  Previously working in AngularJS, the first Angular framework, this is my first foray into the Angular (2) framework.  Making individual pages as Components and introducing a PictureService to access my Pictures via a TypeScript file, this also marks my first time using TypeScript, a strongly typed version of JavaScript, which combines the strong types of Java and the functions of JavaScript.</p>
    </div>
    <div class="flex-item">
    <figure>
        <img src="{{photo}}" alt="Adam" class="img-responsive"/>
    </figure>
    </div>
</div>