

@media screen and (min-width: 480px) {

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;    
}

.image {
    -webkit-flex: 1;
    flex: 1;
}
.paragraph {
    -webkit-flex: 2;
    flex: 2;
    padding: 20px;  
}
}
