
.scroll-major {
	width: 95%; 
	max-height: 90vh; 
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
.scroll-minor { 
    display: none;
}

@media screen and (min-width: 480px) {

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;    
}

.image {
    -webkit-flex: 1;
    flex: 1;
}
.paragraph {
    -webkit-flex: 2;
    flex: 2;
    padding: 20px;  
}
.scroll-major {
    flex: 4; 
  }
  .scroll-minor {
      display: block;
  }
}
