a {
    color: #F5D15D;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    width: 100px;
    margin: 10px;
    text-align: center;
}
a:hover {
	color: #D1B24D;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: blue;
    border-top: 1px solid black;
}

.flex-item {
    width: 100px;
    margin: 10px;
}

.dropdown-menu {
	margin-top: 10px;
	width: 300px;
	background-color: blue;
	border: none;
	border-radius: 0px;
}

.dropdown-menu>li>a {
	color: #F5D15D;
}

.dropdown-menu>li>a:hover {
	color: #D1B24D;
	background-color: blue;
}
