<div class="flex-container center">
	<div class="flex-item">
		<h1>Back to the Hotel with a Few Hours of Peace</h1>
		<h4>{{date}}</h4>
		<p>We needed to get back to the hotel as soon as we could, for Neal needed to take his phone in to see if it could be fixed.  He damaged his phone badly.  So as we left Battery Park, we tried to figure out the best way to get back.  With no car, we were left with three options: Taxi, Uber and Subway.  With time a luxury, I first suggested, "Let's get a taxi."  But getting a Taxi to stop for you is difficult.  Taxi drivers will only stop when it's convenient for them.  They won't go out of the way even if you raise your hand and call for a taxi.  They'll find their ride elsewhere.  A few blocks later, I realized we were at a Subway stop.  Naturally, I suggested, "Why don't we get a Subway instead?"</p>
		<p>After the Subway ride (read the article below), we were just a few blocks away from our hotel.  Thankfully for Neal, the Apple store he intended to stop at was close to the Hotel.  So while Neal went to the Apple Store, Jenn and I relaxed at the Hotel.  Relaxing is something you could never never imagine in New York City, the city that 'supposedly' never sleeps, but our bodies were worn out.</p>
	</div>	
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let afternoonPicture of afternoonPictures">
				<figure>
				<a href="{{link}}photos/{{afternoonPicture.image}}">
					<img src="{{link}}photos/{{afternoonPicture.image}}" alt="{{afternoonPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{afternoonPicture.title}}</h3>
			  <p>{{afternoonPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>Why is Jenn in such Awe? The Truth about Nuggets</h1>
		<h4>{{date}}</h4>
		<p>It's true what they say.  The best things in life are the things you don't ever expect.  From the vintage car show I once experience with my Mom at Lake Billy Chinook years ago to the roller skating dancers in Philly, these unexpected moments, which my Mom referred to as Nuggets, fulfill your life in ways you'd never imagine.  On the one hand, visiting the Empire State Building is amazing, but one doesn't visit their unexpectedly, they usually plan a visit.  Maybe something amazing happens while there, and that can be the Nugget, but the trip itself is not a Nugget.</p>
		<p>Nuggets can strike anywhere, as was the point while taking the Subway back to our Hotel.  Out of nowhere came three young gentleman, who danced around the poles and break danced for some much needed income.  People have to survive anyway they can.  And dancing on the Subway isn't illegal, so they can make their dough utilizing their talents, as long as no one is breaking the law.</p>
		<p>Nuggets are only valuable to the eye of the beholder.  In this case, these young dancers are seeking a particular crowd, the tourists, who could never imagine such a thing happening on the Subway.  You can tell a tourist, someone like Jenn with her mouth dropped in awe, versus a local, who is hardly amazed and seemingly annoyed that they are taking up their space, having seen this many times before.  To us, this was a nugget, something we'd never seen before.  We saw plenty of unique things on the trip, some good (the Roller Skating dancers), some bad (the topless woman you'll hear about shortly), but life loves to throw you curveballs anyway it can.  Enjoy the best of them while you can.</p>
	</div>
	<div class="flex-item">
		<div class="video">
			<video controls="controls" poster="{{link}}videos/subway.jpg" style="width:100%" title="Everyone's Safe Subway Dancers">
				<source src="{{link}}videos/subway.m4v" type="video/m4v" />
				<source src="{{link}}videos/subway.webm" type="video/webm" />
				<source src="{{link}}videos/subway.ogv" type="video/ogg" />
			</video>
		</div>
	</div>
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>Title</h1>
		<h4>{{date}}</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec enim eu lorem faucibus dignissim. Suspendisse potenti. Mauris tincidunt felis urna. Aenean tincidunt placerat libero in pellentesque. Mauris accumsan, lorem vitae ornare blandit, velit diam blandit arcu, sed vulputate tellus odio in velit. Nulla a enim enim. Proin non massa eget sapien pellentesque dapibus id at mauris. Integer varius lacus vulputate turpis rhoncus, a dictum tortor tincidunt. Cras efficitur nec est in congue. Curabitur tristique ex et euismod sollicitudin. Cras ornare augue at diam volutpat ultrices. Suspendisse fringilla pharetra lacus molestie volutpat.</p>
		<p>Sed eu sem orci. Duis nunc eros, molestie eu bibendum sit amet, sagittis ut tellus. In luctus elementum nunc ut euismod. Praesent fermentum scelerisque volutpat. Quisque vel eleifend orci. Sed volutpat sollicitudin magna eu feugiat. Sed gravida eget ipsum nec ultrices. Integer congue, elit a mollis facilisis, elit odio lacinia nulla, vitae accumsan turpis nibh ac eros.</p>
		<p>Sed consequat lacus vitae sapien commodo fringilla. Aliquam erat volutpat. Aenean suscipit dignissim eros id feugiat. Vivamus molestie purus sit amet orci aliquam aliquet. Vivamus quis turpis vel felis condimentum porttitor vel et tellus. Duis eget augue ac odio luctus ullamcorper quis vel enim. Pellentesque mollis tellus nec blandit elementum. Sed sed urna eu sem tincidunt volutpat. Integer quis libero massa.</p>
	</div>	
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let nightPicture of nightPictures">
				<figure>
				<a href="{{link}}photos/{{nightPicture.image}}">
					<img src="{{link}}photos/{{nightPicture.image}}" alt="{{nightPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{nightPicture.title}}</h3>
			  <p>{{nightPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>Title</h1>
		<h4>{{date}}</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec enim eu lorem faucibus dignissim. Suspendisse potenti. Mauris tincidunt felis urna. Aenean tincidunt placerat libero in pellentesque. Mauris accumsan, lorem vitae ornare blandit, velit diam blandit arcu, sed vulputate tellus odio in velit. Nulla a enim enim. Proin non massa eget sapien pellentesque dapibus id at mauris. Integer varius lacus vulputate turpis rhoncus, a dictum tortor tincidunt. Cras efficitur nec est in congue. Curabitur tristique ex et euismod sollicitudin. Cras ornare augue at diam volutpat ultrices. Suspendisse fringilla pharetra lacus molestie volutpat.</p>
		<p>Sed eu sem orci. Duis nunc eros, molestie eu bibendum sit amet, sagittis ut tellus. In luctus elementum nunc ut euismod. Praesent fermentum scelerisque volutpat. Quisque vel eleifend orci. Sed volutpat sollicitudin magna eu feugiat. Sed gravida eget ipsum nec ultrices. Integer congue, elit a mollis facilisis, elit odio lacinia nulla, vitae accumsan turpis nibh ac eros.</p>
		<p>Sed consequat lacus vitae sapien commodo fringilla. Aliquam erat volutpat. Aenean suscipit dignissim eros id feugiat. Vivamus molestie purus sit amet orci aliquam aliquet. Vivamus quis turpis vel felis condimentum porttitor vel et tellus. Duis eget augue ac odio luctus ullamcorper quis vel enim. Pellentesque mollis tellus nec blandit elementum. Sed sed urna eu sem tincidunt volutpat. Integer quis libero massa.</p>
	</div>	
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let johnsPicture of johnsPictures">
				<figure>
				<a href="{{link}}photos/{{johnsPicture.image}}">
					<img src="{{link}}photos/{{johnsPicture.image}}" alt="{{johnsPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{johnsPicture.title}}</h3>
			  <p>{{johnsPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let timesPicture of timesPictures">
				<figure>
				<a href="{{link}}photos/{{timesPicture.image}}">
					<img src="{{link}}photos/{{timesPicture.image}}" alt="{{timesPicture.alt}}" class="img-responsive primary-carousel">
				</a>
			<figcaption>
			  <h3>{{timesPicture.title}}</h3>
			  <p>{{timesPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/liberty">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/outro">Next</button></div>
</div>
<router-outlet></router-outlet>	
