<h1>{{title}}</h1>
<div class="flex-container">
    <div class="flex-item">
        <app-carousel></app-carousel>
    </div>
    <div class="flex-item">
        <p>Hashtag kogi gastropub, asymmetrical mixtape master cleanse umami hot chicken chillwave glossier. Yuccie shoreditch forage pop-up XOXO, chartreuse affogato skateboard cornhole deep v mixtape. +1 man braid bushwick, cray lyft sartorial art party disrupt cornhole iceland truffaut pok pok. Cold-pressed blog cred cray lo-fi, af ugh coloring book heirloom butcher kitsch mumblecore actually. Biodiesel fam lyft, messenger bag butcher VHS pickled small batch meh. Salvia four loko pour-over mumblecore trust fund edison bulb. Knausgaard skateboard helvetica squid poutine snackwave.</p>
        <p>Jianbing 90's marfa semiotics, post-ironic hella everyday carry disrupt snackwave single-origin coffee gastropub +1 tofu polaroid cred. You probably haven't heard of them food truck hot chicken selvage hashtag, lyft cliche meggings art party subway tile meh chicharrones stumptown vegan pug. Chia crucifix XOXO waistcoat single-origin coffee, four loko fingerstache schlitz lo-fi. Gluten-free tacos art party, taxidermy dreamcatcher direct trade cred vexillologist tofu ramps poutine cornhole. Art party small batch irony retro. Godard iPhone pork belly put a bird on it freegan, offal palo santo live-edge microdosing green juice portland. Jean shorts semiotics roof party occupy thundercats franzen.</p>
        <p>Keytar brooklyn viral, coloring book roof party occupy you probably haven't heard of them la croix shaman readymade deep v mumblecore. Trust fund pok pok enamel pin jianbing put a bird on it. Kale chips man bun master cleanse, fixie freegan kinfolk vegan +1 hell of taiyaki. Before they sold out four loko pinterest jianbing. Lo-fi austin squid, kitsch affogato fixie listicle. Truffaut kogi try-hard, pickled vape yr neutra cred lumbersexual lyft shabby chic 90's XOXO. Put a bird on it small batch slow-carb copper mug, neutra tumeric farm-to-table blue bottle disrupt hella tumblr.</p>
        </div>   
    </div>
 
        <div class="flex-container">
            <app-comment></app-comment>
        </div>