<div class="flex-container">
		<div class="flex-item scroll-major">
				<article>
    				<div class="flex-item">
						<carousel [interval]="false">
							<slide *ngFor="let pennPicture of pennPictures">
								<figure class="main-carousel">
									<img src="{{link}}photos/{{pennPicture.image}}" alt="{{pennPicture.alt}}" class="img-responsive main-carousel">
									<figcaption>
										<h3>{{pennPicture.title}}</h3>
										<p>{{pennPicture.description}}</p>   
									</figcaption>
								</figure>
							</slide>
						</carousel>
    				</div>	
						<div class="flex-item">
							<h1>After the Pride</h1>
							<h4>{{date}}</h4>
							<p>After the Pride and after lunch (see below), I briefly walked around Penn’s Landing, a park on the edge of the Delaware River, close to the Continental.  As Neal had been complaining that no rain had yet come as projected, drops of rain finally showed up, but none too bad.  The views from Penn’s Landing were expansive, with the river and Camden, New Jersey on one side, and a view of the city from the other side, complete with historical buildings in between.  There was a Festival in conjunction with the Pride Parade being held here, but we didn’t feel the need to go see it.  We saw plenty of action at the Parade itself.  With plenty of time and one major stop on my list of things I really wanted to see in Philadelphia, we headed west to the Philadelphia Museum of Art via Uber.</p>
						</div>
						<div class="flex-item">
								<app-article-comment></app-article-comment>
							</div>
				</article>
				<article>
				<div class="flex-item">
					<h1>Famous Philadelphians</h1>
							<p>There are plenty of famous people from Philadelphia, from the Historical figures to the modern day entertainers.  There are plenty of people with origins from Philly.  The list includes:</p><br>
							<div class="famous-list">
									<carousel [interval]="false">
										<slide *ngFor="let famousPhiladelphian of famousPhiladelphians">
											<img src="{{link}}photos/{{famousPhiladelphian.image}}" alt="{{famousPhiladelphian.name}}" />
											<h3>{{famousPhiladelphian.name}}</h3>
											<p>{{famousPhiladelphian.description}}</p>
										</slide>
									</carousel>
								</div>
					</div>
					</article>
		<div class="flex-item">
			<app-ad></app-ad>
		</div>
	<article>
    
    <div class="flex-item">
    <h1>Continental Review</h1>
    <h4>{{date}}</h4>
 <div style="float: right">
		<carousel [interval]="false">
		  <slide *ngFor="let continentalPicture of continentalPictures">
				<figure class="main-carousel">
				<img src="{{link}}photos/{{continentalPicture.image}}" alt="{{continentalPicture.alt}}" class="img-responsive secondary-carousel">
			<figcaption>
			  <h3>{{continentalPicture.title}}</h3>
			  <p>{{continentalPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>   
			<p>After the Pride Parade finished, stomachs started growling as it was time for lunch.  Naturally, the best direction to go was to head back towards our car, not away from the car.  So with that in mind, seeking adventure and flair, the four of us went to the Continental, a fun restaurant with a variety of interesting items on the menu and decorative flair.</p>
			<p>It resembled somewhat an old fashioned diner, but more hip and modern than a place like the Silver Diner.  Looking at the menu and seeking something different, the Korean Tacos caught my eye.  More of an appetizer than a full course meal, but nonetheless quite tasty, and definitely something I don't normally have.  In the end, it was a good outing and much needed.  Of course, the humidity had made my shirt real sweaty and heavy.  It felt like I had gained 10 pounds simply for the shirt.  As Jenn would say, Philly Style is "Hot and Sweaty!"</p>
		</div>
		<div class="flex-item">
				<app-article-comment></app-article-comment>
			</div>
		</article>	
	</div>
<div class="flex-item scroll-minor">
		<app-sidebar></app-sidebar>
	</div>
</div>	
<div class="flex-container link">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/two/pride">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/two/art">Next</button></div>
</div>
<router-outlet></router-outlet>	
