<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let batteryPicture of batteryPictures">
				<figure>
				<a href="{{link}}photos/{{batteryPicture.image}}">
					<img src="{{link}}photos/{{batteryPicture.image}}" alt="{{batteryPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{batteryPicture.title}}</h3>
			  <p>{{batteryPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Battery Park: New York City's Other Green Park</h1>
		<h4>{{date}}</h4>
		<p>There were two places in New York I had to see, one being the Empire State Building, the other, the Statue of Liberty.  Having been to the Empire State Building yesterday, today was the day to go to the Statue of Liberty.  Having secured tickets to be there at 1:00, we went to Battery Park, at the southern tip of Manhattan, where the ferry meets in New York.  There's also one at Liberty State Park in New Jersey, but who needs to go to New Jersey to catch the ferry to the Statue of Liberty, even though it is technically on the New Jersey side of the harbor.  It was a good thing we didn't go to New Jersey since garbage Governor Chris Christie later closed the parks during a state government shutdown so he and his family could enjoy the beach all to themselves.</p>
		<p>Battery Park was a pleasant surprise to walk around.  Central Park is New York's premier park, for obvious reasons, but Battery Park is filled with green and nice statues along the way.  Also there was Castle Clinton, named after former New York Mayor DeWitt Clinton (not Hillary, who's still not a Criminal).  A beautiful structure from the 19th century, this was where we headed to board the ferry.  There we were present for a big line to the Ferry.  They suggested we get there half an hour early and it was easy to see why.</p>
		<p>Looking at the harbor, I was mesmerized by the views of the Statue of Liberty, Ellis Island, and even Jersey City.  It was really neat to see all the different kinds of ships out in the water.  The white Ferry that took us to the Statue of Liberty, as well as the distinctly orange Staten Island Ferry.  Fortunately, it wasn't nearly as humid as Philadelphia or D.C. were, which made things better.  After about 15 minutes or so of waiting, the line started moving, and once again, we had to get through a security checkpoint.  No shoes were needed to be removed.  Then it was time to board the Ferry, where adventure awaited.</p>	
	</div>		
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let ferryPicture of ferryPictures">
				<figure>
				<a href="{{link}}photos/{{ferryPicture.image}}">
					<img src="{{link}}photos/{{ferryPicture.image}}" alt="{{ferryPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{ferryPicture.title}}</h3>
			  <p>{{ferryPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Battery Park: New York City's Other Green Park</h1>
		<h4>{{date}}</h4>
		<p>As we boarded the ferry, there were lots and lots of people on it.  Many of them were trying to get to the upper floor.  A lot of them were crowding below the deck.  One had an exotic animal on their shoulder.  I wasn't satisfied being at the bottom, so I made my way towards the top.  Of course, I found the stairs in the back to be much easier to get up rather than the front stairs.  How silly no one would notice that.  I found myself at the top of the deck surrounded by water, Manhattan, and New Jersey.</p>
		<p>Once the ferry departed, the views began to grow.  Not only was the Statue of Liberty getting closer, but the view of Manhattan was getting more easier and more expansive.  A win-win to me.  I couldn't help but be amazed, again, with how huge and modern New York was.  The tall skyscrapers that make any one of Portland's "skyscrapers" look bland, the water on both sides, and yes, Jersey City on the left.  The water started to rock ever so slightly, but not too bad, and the wind was there, but nothing too spectacular.</p>
		<p>Once we went around the Statue of Liberty, we could not only see the Statue up close, but also the New York skyline in the background, which combined brings the best of both views.  Unfortunately, I was reminded I recognized the view from a picture of 9/11.  Bad memory...  Eventually, we reached the dock.  Liberty Island awaited to see the Statue of Liberty up close and as personal as we could get.</p>
	</div>		
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let libertyPicture of libertyPictures">
				<figure>
				<a href="{{link}}photos/{{libertyPicture.image}}">
					<img src="{{link}}photos/{{libertyPicture.image}}" alt="{{libertyPicture.alt}}" class="img-responsive primary-carousel">
				</a>
			<figcaption>
			  <h3>{{libertyPicture.title}}</h3>
			  <p>{{libertyPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>Amazing!</h1>
		<h4>{{date}}</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec enim eu lorem faucibus dignissim. Suspendisse potenti. Mauris tincidunt felis urna. Aenean tincidunt placerat libero in pellentesque. Mauris accumsan, lorem vitae ornare blandit, velit diam blandit arcu, sed vulputate tellus odio in velit. Nulla a enim enim. Proin non massa eget sapien pellentesque dapibus id at mauris. Integer varius lacus vulputate turpis rhoncus, a dictum tortor tincidunt. Cras efficitur nec est in congue. Curabitur tristique ex et euismod sollicitudin. Cras ornare augue at diam volutpat ultrices. Suspendisse fringilla pharetra lacus molestie volutpat.</p>
		<p>Sed eu sem orci. Duis nunc eros, molestie eu bibendum sit amet, sagittis ut tellus. In luctus elementum nunc ut euismod. Praesent fermentum scelerisque volutpat. Quisque vel eleifend orci. Sed volutpat sollicitudin magna eu feugiat. Sed gravida eget ipsum nec ultrices. Integer congue, elit a mollis facilisis, elit odio lacinia nulla, vitae accumsan turpis nibh ac eros.</p>
		<p>Sed consequat lacus vitae sapien commodo fringilla. Aliquam erat volutpat. Aenean suscipit dignissim eros id feugiat. Vivamus molestie purus sit amet orci aliquam aliquet. Vivamus quis turpis vel felis condimentum porttitor vel et tellus. Duis eget augue ac odio luctus ullamcorper quis vel enim. Pellentesque mollis tellus nec blandit elementum. Sed sed urna eu sem tincidunt volutpat. Integer quis libero massa.</p>
	</div>
	<div class="flex-item">
		<h1>Statue of Liberty by the Numbers</h1>
		<p><span>1886</span> - The year the Statue of Liberty was dedicated, a gift from the people of France, designed by Frederic Auguste Bartholdi and built by Gustave Eiffel, the latter who built the Eiffel Tower.</p>
		<p><span>2</span> - Thickness in stacked pennies used in of the copper used for the Statue of Liberty</p>
		<p><span>14</span> - Approximate number of years after completion that the Statue of Liberty began to turn into its greenish color.  Originally a dull copper color, it changed due to an oxidation process of the copper known as verdigris.  It remained that color due to public protest, though the inside was painted.</p>
		<p><span>1</span> - The number of successful suicides to occur at the Statue of Liberty, which occurred in 1929</p>
		<p><span>1956</span> - The year Liberty Island got its name, changed from its original name, Bedloe Island</p>
	</div>
</div>
<div class="flex-container">
	<div class="flex-item">
		<img src="assets/philadelphia.jpg" class="img-responsive" id="philadelphia"/>
	</div>
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>For the Exercise Buffs</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec enim eu lorem faucibus dignissim. Suspendisse potenti. Mauris tincidunt felis urna. Aenean tincidunt placerat libero in pellentesque. Mauris accumsan, lorem vitae ornare blandit, velit diam blandit arcu, sed vulputate tellus odio in velit. Nulla a enim enim. Proin non massa eget sapien pellentesque dapibus id at mauris. Integer varius lacus vulputate turpis rhoncus, a dictum tortor tincidunt. Cras efficitur nec est in congue. Curabitur tristique ex et euismod sollicitudin. Cras ornare augue at diam volutpat ultrices. Suspendisse fringilla pharetra lacus molestie volutpat.</p>
		<p>Sed eu sem orci. Duis nunc eros, molestie eu bibendum sit amet, sagittis ut tellus. In luctus elementum nunc ut euismod. Praesent fermentum scelerisque volutpat. Quisque vel eleifend orci. Sed volutpat sollicitudin magna eu feugiat. Sed gravida eget ipsum nec ultrices. Integer congue, elit a mollis facilisis, elit odio lacinia nulla, vitae accumsan turpis nibh ac eros.</p>
		<p>Sed consequat lacus vitae sapien commodo fringilla. Aliquam erat volutpat. Aenean suscipit dignissim eros id feugiat. Vivamus molestie purus sit amet orci aliquam aliquet. Vivamus quis turpis vel felis condimentum porttitor vel et tellus. Duis eget augue ac odio luctus ullamcorper quis vel enim. Pellentesque mollis tellus nec blandit elementum. Sed sed urna eu sem tincidunt volutpat. Integer quis libero massa.</p>
	</div>
	<div class="flex-item">
		<img src="{{link}}photos/liberty-walk.jpg" alt="Statue of Liberty" class="img-responsive">
	</div>
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let ellisPicture of ellisPictures">
				<figure>
				<a href="{{link}}photos/{{ellisPicture.image}}">
					<img src="{{link}}photos/{{ellisPicture.image}}" alt="{{ellisPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{ellisPicture.title}}</h3>
			  <p>{{ellisPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Bonus Round: Ellis Island</h1>
		<h4>{{date}}</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec enim eu lorem faucibus dignissim. Suspendisse potenti. Mauris tincidunt felis urna. Aenean tincidunt placerat libero in pellentesque. Mauris accumsan, lorem vitae ornare blandit, velit diam blandit arcu, sed vulputate tellus odio in velit. Nulla a enim enim. Proin non massa eget sapien pellentesque dapibus id at mauris. Integer varius lacus vulputate turpis rhoncus, a dictum tortor tincidunt. Cras efficitur nec est in congue. Curabitur tristique ex et euismod sollicitudin. Cras ornare augue at diam volutpat ultrices. Suspendisse fringilla pharetra lacus molestie volutpat.</p>
		<p>Sed eu sem orci. Duis nunc eros, molestie eu bibendum sit amet, sagittis ut tellus. In luctus elementum nunc ut euismod. Praesent fermentum scelerisque volutpat. Quisque vel eleifend orci. Sed volutpat sollicitudin magna eu feugiat. Sed gravida eget ipsum nec ultrices. Integer congue, elit a mollis facilisis, elit odio lacinia nulla, vitae accumsan turpis nibh ac eros.</p>
		<p>Sed consequat lacus vitae sapien commodo fringilla. Aliquam erat volutpat. Aenean suscipit dignissim eros id feugiat. Vivamus molestie purus sit amet orci aliquam aliquet. Vivamus quis turpis vel felis condimentum porttitor vel et tellus. Duis eget augue ac odio luctus ullamcorper quis vel enim. Pellentesque mollis tellus nec blandit elementum. Sed sed urna eu sem tincidunt volutpat. Integer quis libero massa.</p>	
	</div>		
</div>

<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/wtc">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/times">Next</button></div>
</div>
<router-outlet></router-outlet>	
