<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let batteryPicture of batteryPictures">
				<figure>
				<a href="{{link}}photos/{{batteryPicture.image}}">
					<img src="{{link}}photos/{{batteryPicture.image}}" alt="{{batteryPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{batteryPicture.title}}</h3>
			  <p>{{batteryPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Battery Park: New York City's Other Green Park</h1>
		<h4>{{date}}</h4>
		<p>There were two places in New York I had to see, one being the Empire State Building, the other, the Statue of Liberty.  Having been to the Empire State Building yesterday, today was the day to go to the Statue of Liberty.  Having secured tickets to be there at 1:00, we went to Battery Park, at the southern tip of Manhattan, where the ferry meets in New York.  There's also one at Liberty State Park in New Jersey, but who needs to go to New Jersey to catch the ferry to the Statue of Liberty, even though it is technically on the New Jersey side of the harbor.  It was a good thing we didn't go to New Jersey since garbage Governor Chris Christie later closed the parks during a state government shutdown so he and his family could enjoy the beach all to themselves.</p>
		<p>Battery Park was a pleasant surprise to walk around.  Central Park is New York's premier park, for obvious reasons, but Battery Park is filled with green and nice statues along the way.  Also there was Castle Clinton, named after former New York Mayor DeWitt Clinton (not Hillary, who's still not a Criminal).  A beautiful structure from the 19th century, this was where we headed to board the ferry.  There we were present for a big line to the Ferry.  They suggested we get there half an hour early and it was easy to see why.</p>
		<p>Looking at the harbor, I was mesmerized by the views of the Statue of Liberty, Ellis Island, and even Jersey City.  It was really neat to see all the different kinds of ships out in the water.  The white Ferry that took us to the Statue of Liberty, as well as the distinctly orange Staten Island Ferry.  Fortunately, it wasn't nearly as humid as Philadelphia or D.C. were, which made things better.  After about 15 minutes or so of waiting, the line started moving, and once again, we had to get through a security checkpoint.  No shoes were needed to be removed.  Then it was time to board the Ferry, where adventure awaited.</p>	
	</div>		
</div>
	<div class="flex-container">
		<div class="flex-item">
			<a href="http://ashland.bodiewebdesign.com">
				<img src="assets/ashland.jpg" alt="Visit Ashland" class="img-responsive"/>
			</a>
		</div>
	</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let ferryPicture of ferryPictures">
				<figure>
				<a href="{{link}}photos/{{ferryPicture.image}}">
					<img src="{{link}}photos/{{ferryPicture.image}}" alt="{{ferryPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{ferryPicture.title}}</h3>
			  <p>{{ferryPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Battery Park: New York City's Other Green Park</h1>
		<h4>{{date}}</h4>
		<p>As we boarded the ferry, there were lots and lots of people on it.  Many of them were trying to get to the upper floor.  A lot of them were crowding below the deck.  One had an exotic animal on their shoulder.  I wasn't satisfied being at the bottom, so I made my way towards the top.  Of course, I found the stairs in the back to be much easier to get up rather than the front stairs.  How silly no one would notice that.  I found myself at the top of the deck surrounded by water, Manhattan, and New Jersey.</p>
		<p>Once the ferry departed, the views began to grow.  Not only was the Statue of Liberty getting closer, but the view of Manhattan was getting more easier and more expansive.  A win-win to me.  I couldn't help but be amazed, again, with how huge and modern New York was.  The tall skyscrapers that make any one of Portland's "skyscrapers" look bland, the water on both sides, and yes, Jersey City on the left.  The water started to rock ever so slightly, but not too bad, and the wind was there, but nothing too spectacular.</p>
		<p>Once we went around the Statue of Liberty, we could not only see the Statue up close, but also the New York skyline in the background, which combined brings the best of both views.  Unfortunately, I was reminded I recognized the view from a picture of 9/11.  Bad memory...  Eventually, we reached the dock.  Liberty Island awaited to see the Statue of Liberty up close and as personal as we could get.</p>
	</div>		
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let libertyPicture of libertyPictures">
				<figure>
				<a href="{{link}}photos/{{libertyPicture.image}}">
					<img src="{{link}}photos/{{libertyPicture.image}}" alt="{{libertyPicture.alt}}" class="img-responsive primary-carousel">
				</a>
			<figcaption>
			  <h3>{{libertyPicture.title}}</h3>
			  <p>{{libertyPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>		
</div>
<div class="flex-container center">
	<div class="flex-item">
		<h1>An Amazing Walk around Liberty</h1>
		<h4>{{date}}</h4>
		<p>Getting off the ferry, it was time to tour Liberty Island and the Statue of Liberty.  Being on the island was amazing.  Being up close to the Statue of Liberty was amazing, the whole thing was beautiful.  I walked around, leaving Jenn and Neal in the dust, once again.  There were plenty of views of lady liberty, and plenty of people visiting as well.  Eventually, Jenn and Neal caught up with me for one selfie, while Jenn told me about the Statue of Liberty thickness was two pennies thick.  But as I made my way around the Statue of Liberty, it was clear that the Statue of Liberty wasn't the only attraction to see.</p>
		<p>Looking towards the mainland, I could see stunning views of New York, and yes, New Jersey.  The whole view was amazing.  Jersey City on the left, hardly worth noting except for the one tall skyscraper.  Then you reach Manhattan in the center, whose skyline is absolutely amazing.  The financial district, at the tip of Manhattan with the One World Trade Center dominating the view, is completely full of elite New York buildings.  In the distance, you can also see the Empire State Building, which is amazing to see no matter the distance.  Most buildings at that distance wouldn't even be worth registering on the map.  Not the Empire State Building.  Completing the view is a nice view of Brooklyn.  A well thought out backdrop to the Statue of Liberty.</p>
		<p>I finally made the whole trip around Liberty Island, reaching the Statue of Liberty's behind.  Of course, we couldn't go into the Statue of Liberty; those tickets are typically bought over three months in advance.  But I was happy just being on Liberty Island and seeing the Statue of Liberty itself.  Of course, by the time I was finished, I was exhausted from way too much walking.  But a trip to the gift shop was the only thing missing.  Thankfully that was at the end of the trip.  We needed to get a gift for our Mom and had the perfect pre-planned gift in mind, a miniature Statue of Liberty replica to replace the one our Mom lost when she when to New York as a young'un. We got other gifts as well, but that was the most important.  It was the same size as the one she had years ago.  Finally, it was time to get back to Manhattan for one last night of fun at Times Square.</p>
	</div>
	<div class="flex-item">
		<h1>Statue of Liberty by the Numbers</h1>
		<p><span>1886</span> - The year the Statue of Liberty was dedicated, a gift from the people of France, designed by Frederic Auguste Bartholdi and built by Gustave Eiffel, the latter who built the Eiffel Tower.</p>
		<p><span>2</span> - Thickness in stacked pennies used in of the copper used for the Statue of Liberty</p>
		<p><span>14</span> - Approximate number of years after completion that the Statue of Liberty began to turn into its greenish color.  Originally a dull copper color, it changed due to an oxidation process of the copper known as verdigris.  It remained that color due to public protest, though the inside was painted.</p>
		<p><span>1</span> - The number of successful suicides to occur at the Statue of Liberty, which occurred in 1929</p>
		<p><span>1956</span> - The year Liberty Island got its name, changed from its original name, Bedloe Island</p>
	</div>
</div>
<div class="flex-container">
	<div class="flex-item">
		<img src="assets/new-york-city.jpg" class="img-responsive"/>
	</div>
</div>
<div class="flex-container top">
	<div class="flex-item">
		<h1>For the Exercise Buffs</h1>
		<p>While walking around Liberty Island, I remembered to keep track of my exercise right when I got off the ferry.  So this time, I recorded the complete trip.  As you can see, I started at the West end and made it all the way to the back, where I stopped recording near the gift shop.  This trip saw virtually no elevation change, with a mere 7 feet difference in elevation.  It's hard to believe that considering the island was flat.  I walked for half and hour, with considerably better temperatures and less humidity, making New York better to handle than Philly or D.C.</p>
		<p>As you can see, I walked around most of the island.  They do have a private area not for the public, which you can see as the part of the island I didn't walk around.  The prime areas for taking pictures are also noticable, at the southern and eastern sides of the island, which provide the best views of the Statue of Liberty and the New York Skyline.</p>
	</div>
	<div class="flex-item">
		<img src="{{link}}photos/liberty-walk.jpg" alt="Statue of Liberty" class="img-responsive">
	</div>
</div>
<div class="flex-container center">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let ellisPicture of ellisPictures">
				<figure>
				<a href="{{link}}photos/{{ellisPicture.image}}">
					<img src="{{link}}photos/{{ellisPicture.image}}" alt="{{ellisPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{ellisPicture.title}}</h3>
			  <p>{{ellisPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
	<div class="flex-item">
		<h1>Bonus Round: Ellis Island</h1>
		<h4>{{date}}</h4>
		<p>Heading back to Manhattan was a breeze, as it was easier to get on the ferry, although there was less sitting room.  Hungry for lunch, we had hot dogs and chips to fill us up.  Nothing too fancy, but satisfying at the very least.  But as there are multiple islands in the New York Harbor, one additional stop was necessary before heading back to Manhattan: Ellis Island.</p>
		<p>Though we didn't step onto Ellis Island, as it was not part of our agenda, I still thought it was neat to see from the ferry.  The building itself looked nice, and views from the distance also provided a nice backdrop.  It's amazing to see a place where many people entered the United States the first time.  With my ancestors in Europe, it's a reminder that we all come from somewhere, and perhaps some of my ancestors came to the United States at Ellis Island.  I believe my ancestors entered the United States via Boston, but I can imagine what it was like to enter the United States via boat and first see the Statue of Liberty.  After stopping at Ellis Island, the visit to the Statue of Liberty was officially over.  It was time to get back to Manhattan and begin the mad dash back to our hotel, which proved to be more interesting than one could ever expect.</p>	
	</div>		
</div>

<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/wtc">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/times">Next</button></div>
</div>
<router-outlet></router-outlet>	
