<div class="flex-container scroll">
		<div class="flex-item">
<h1>Extras!!!</h1>
<div class="flex-container">
    <div class="flex-item">
      <h1>Car Rides are for Dancing!</h1>
      <p>Nothing defines our trips to the East Coast more than dancing in the car.  It's inevitable than when the music plays, we get our groove on.  Especially Neal.  He loves to dance.  In the car, on the train, in the park.  Neal loves to dance.  And Jenn loves to record it when she can.  There's nothing Neal can do to stop it.  So without further ado, here's "Car Rides are For Dancing!"</p>
  </div>
</div>
<div class="flex-container">
  <div class="flex-item">
    <div class="video">
        <video controls="controls" poster="{{link}}videos/car.jpg" style="width:80%" title="Trailer">
          <source src="{{link}}videos/car.m4v" type="video/m4v" />
          <source src="{{link}}videos/car.webm" type="video/webm" />
          <source src="{{link}}videos/car.ogv" type="video/ogg" />
        </video>
      </div>
  </div>
</div>
<div class="flex-container">
    <div class="flex-item">
      <h1>Trailer</h1>
      <p></p>
  </div>
</div>
<div class="flex-container">
    <div class="flex-item">
      <div class="video">
          <video controls="controls" poster="{{link}}videos/nadm2.jpg" style="width:80%" title="Car Rides are For Dancing!">
            <source src="{{link}}videos/nadm2.m4v" type="video/m4v" />
            <source src="{{link}}videos/nadm2.webm" type="video/webm" />
            <source src="{{link}}videos/nadm2.ogv" type="video/ogg" />
          </video>
        </div>
    </div>
  </div>
</div>
</div>
