<div class="flex-container">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let wtcPicture of wtcPictures">
				<figure>
				<a href="{{link}}photos/{{wtcPicture.image}}">
					<img src="{{link}}photos/{{wtcPicture.image}}" alt="{{wtcPicture.alt}}" class="img-responsive primary-carousel">
				</a>
			<figcaption>
			  <h3>{{wtcPicture.title}}</h3>
			  <p>{{wtcPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
  </div>
<div class="flex-container">
	<div class="flex-item">
		<h1>A Somber Trip to the National September 11 Memorial & Museum</h1>
		<h4>{{date}}</h4>
		<p>One of the worst days in America during my lifetime was 9/11.  A cruel attack on all of America, 9/11, to me, will be a day anyone around will never forget.  As the Memorial was on the way to the Statue of Liberty, we decided to walk around and see the place for ourselves.  We didn't have a whole lot of time, due to Neal not being ready until 11, but we didn't need to spend too much time here, so in the end, everything worked out.</p>
		<p>Taking the Subway down to the WTC Transportation Hub, upon entering the building, I was amazed with its stunning beauty and angellic prescence.  In part due to the Michelangelo exhibit in the Oculus, it felt quite surreal.  Also convenient was the Apple Store in the building, as Neal needed to get his phone fixed, as he dropped and shattered the screen a few days prior.  While Jenn joined him, I went out and explored.</p>
		<p>The exterior of the Hub was amazing.  Built by Santiago Calatrava, the famous Spanish Architect who also built the similar looking Milwaukee Art Museum, not surprisingly I thought of my trip to Milwaukee.  This building is not as big, and doesn't need to be, but clearly you could tell they were designed by the same architect.  Then I looked up and around at the super tall buildings surrounding the Memorial, including the obvious One World Trade Center, unbelievably tall.</p>
		<p>Reality struck when I saw the North Pool.  Surrounded by the names of all the victims of the horrific attack, suddenly, I felt somber and saddened.  It reminded me of the Holocaust Museum I visited with my Mom years ago in D.C.  The realization that something horrific happened overshadows the beauty of the area, as if to say, 'Never Forget.'  By the time Neal and Jenn were done looking at Neal's broken screen, I was ready to head down to the Statue of Liberty.  But wanting to at least let Jenn and Neal see, we looked at the South Pool, identical to the North, fitting due to the two towers that fell.  Fortunately, seeing the Statue of Liberty, which I had already secured tickets for at 1:00, was more important, so we headed down to Battery Park, New York's jumping off place for the Statue of Liberty</p>
	</div>
	<div class="flex-item">
		<h1>National September 11 Memorial & Museum by the Numbers</h1>
		<p><span>10</span> - Years after the attack that the Memorial opened, the tenth anniversary to the victims, one day later for the public</p>
		<p><span>6</span> - The number of World Trade Center's that are planned to be part of the World Trade Center complex, 1,2,3,4,5 and 7</p>
		<p><span>3</span> - The number of those building, 1, 4 and 7, that are officially completed</p>
		<p><span>76</span> - The number of bronze plates attached to the parapets of the two memorial pools</p>
		<p><span>2,983</span> - The number of names on the to honor the 2,977 who died on 9/11 and the 6 who died during the original attack in 1993</p>
	</div>
</div>
	<div class="flex-container">
		<div class="flex-item">
			<a href="http://art-showcase.bodiewebdesign.com">
				<img src="assets/art-showcase.jpg" alt="Adam's Art Showcase" class="img-responsive"/>
			</a>
		</div>
	</div>
<div class="flex-container">
    <div class="flex-item">
		<carousel [interval]="false">
		  <slide *ngFor="let goToBatteryPicture of goToBatteryPictures">
				<figure>
				<a href="{{link}}photos/{{goToBatteryPicture.image}}">
					<img src="{{link}}photos/{{goToBatteryPicture.image}}" alt="{{goToBatteryPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{goToBatteryPicture.title}}</h3>
			  <p>{{goToBatteryPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
    <div class="flex-item">
		<h1>Text</h1>
    </div>
  </div>		
<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/les">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/six/liberty">Next</button></div>
</div>
<router-outlet></router-outlet>	
