
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

:host {
  display: block;
  margin: 0;
  background: url('../assets/background.jpg') no-repeat center fixed; 
  background-size: cover;  
}

