img {
  display: block;
  width: 100%;
  height: auto;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.actions {
    padding: 2em;
    background-color: white;
    width: 100%;
    border-radius: 5px;
}

.actions p {
    color: black;
    text-indent: 2em;
}

.actions h4 {
  font-weight: bold;
}
.liked {
    color: yellow;
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-bottom: 5px solid #a94442; /* red */
}

@media screen and (min-width: 480px) {

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding: 20px;
}

.flex-item {
    -webkit-flex: 1;
    flex: 1;
    padding: 20px;
}
}
