/* Basic CSS
-------------------------*/

.main-carousel {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 300px;
}
.secondary-carousel {
    display: block;
    margin: 0 auto;
    max-width: 375px;
    max-height: 280px;       
}

h3 {
    color: white;
}

span {
	font-weight: bold;
    font-size: 2em;
    color: #F5D15D;	
}

ol>li {
    color: white;
    font-weight: bold;
    list-style: inherit;
}

.btn {
    min-width: 100px;
    min-height: 50px;
    display: block;
    margin: 0 auto;
}

.video {
    position:relative;
    max-width:1920px;
}

/* Ad CSS 
--------------------------*/
.ad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, black); /* For Firefox 3.6 to 15 */
  background: radial-gradient(red, black); /* Standard syntax */
  margin: 10px;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}


/* Famous Al CSS
------------------------*/

.famousAl {
    width: 300px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0!important;
    display: block;
    margin: 0 auto; 
    margin-left: 10px;
    float: right;   
}

.famousAl > .flex-item {
    padding: 0;
}

.famousAl p {
    text-align: center;
    font-size: 0.8em;
}

.alParagraph {
    text-align: justify;
}
.features {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
	margin: 20px;
	background-color: #5b52c5;
	padding: 20px;
}

.features h1 {
	color: #F5D15D;
}

#philadelphia {
    display: block;
    margin: 0 auto;
    width: 100%;
}
@media screen and (min-width: 480px) {
    .flex-container {
        display: -webkit-flex;
        display: flex;
        padding: 20px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        -webkit-flex: 1;
        flex: 1;
        padding: 20px;
    }
    .carousel-indicators {
        display: block!important;
    }
    .main-carousel {
        max-width: 600px;
        max-height: 450px;
    }
    .secondary-carousel {
        max-width: 400px;
        max-height: 300px;       
    }
    .center {
        -webkit-align-items: center;
        align-items: center;
    }
    .top {
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }                  
}

@media screen and (min-width: 768px) {
    .main-carousel {
        max-width: 800px;
        max-height: 600px;
    }

    .secondary-carousel {
        max-width: 600px;
        max-height: 450px;       
    }   
}
