/* Basic CSS
-------------------------*/
article {
    padding: 5px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-carousel {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: 300px;
}
.secondary-carousel {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 225px;       
}


h3 {
    color: white;
}

span {
	font-weight: bold;
    font-size: 2em;
    color: #F5D15D;	
}

ol>li {
    color: white;
    font-weight: bold;
    list-style: inherit;
}

.btn {
    min-width: 100px;
    min-height: 50px;
    display: block;
    margin: 0 auto;
}

.video {
    position:relative;
    max-width:1920px;
}

.side-image {
	float: right;
	padding: 10px;
	margin: 10px;
	clear: both;
}

/* Comment CSS 
-------------------------------*/
label {
    color: #F5D15D;	 
}

textarea {
    width: 80%;
    height: 200px;
}

form {
    padding: 20px;
    
}


/* Famous CSS
------------------------*/

.famous {
    width: 300px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0!important;
    display: block;
    margin: 0 auto; 
    margin-left: 10px;
    float: right;   
}

.famous > .flex-item {
    padding: 0;
}

.famous p {
    text-align: center;
    font-size: 0.8em;
}


/* Features CSS
--------------------------------------------*/
.features {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
	margin: 20px;
	background-color: #5b52c5;
	padding: 20px;
}

.features h1 {
	color: #F5D15D;
}

#philadelphia {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#old-nyc {
	position: relative;
	z-index: 11;
	height: 400px;	
	-webkit-transition: opacity 4s;
	transition: opacity 4s;	
}

#old-nyc:hover {
	opacity: 0;
}

#new-nyc {
	position: relative;
	z-index: 10;
    height: 400px;
    margin-top: -400px;

}
blockquote {
    color: #F5D15D;
    font-family: 'Abril Fatface', cursive;
}

footer {
    text-align: right;
    color: white;
}
.new-york-list {
    text-align: center;
}

.talib-playlist {
    background-color: black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.80);
}

.talib-playlist li {
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(green, #004000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, #004000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, #004000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, #004000); /* Standard syntax */
    margin: 5px;
    border-radius: 10px;
    color: black;
    font-size: 1.2em;
}
.talib-playlist p {
    color: black;
}
.talib-playlist img:hover {
    opacity: 0.8;
}
@media screen and (min-width: 480px) {
    .flex-container {
        display: -webkit-flex;
        display: flex;
        padding: 20px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        -webkit-flex: 1;
        flex: 1;
        padding: 20px;
    }
    .carousel-indicators {
        display: block!important;
    }
    .main-carousel {
        max-width: 400px;
        max-height: 300px;
    }
    .secondary-carousel {
        max-width: 300px;
        max-height: 225px;       
    }                    
}

@media screen and (min-width: 768px) {
    .main-carousel {
        max-width: 600px;
        max-height: 450px;
    }

    .secondary-carousel {
        max-width: 300px;
        max-height: 225px;       
    }
.scroll {
	width: 95%; 
	max-height: 90vh; 
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.link {
	padding: 0;
	margin: 0;
}       
}
