<div class="flex-container">
    <div class="flex-item">
		<carousel>
		  <slide *ngFor="let picture of pictures">
			<img src="{{link}}photos/{{picture.image}}" alt="{{picture.alt}}" class="img-responsive">
			<div class="carousel-caption">
			  <h3>{{picture.title}}</h3>
			  <p>{{picture.description}}</p>   
			</div>
		  </slide>
		</carousel>
    </div>
    <div class="flex-item">
		<h1>You Can Call Me Al</h1>
        <p>Back in the day, You Can Call Me Al was a song performed by Paul Simon, made famous with a video containing Chevy Chase lip-synching the lyrics.  Of course, anyone heading to the D.C.-Baltimore region should know that Chevy Chase is also the name of a Washington D.C. suburb.  So it was only fitting that on the way to the airport, this song got brought up in the car and stuck in my head.  So what exactly is this song about, the very song I played drums when I was just 2 years old?</p>
        <p>Extensive Research led me to find this out: The song, written by Paul Simon, appears to be about a man in a midlife crisis.  Simon was inspired to write this song after making a trip to South Africa, which led him to make the Graceland album which this song is featured as a single.  As for the names in the some, Al and Betty, Paul Simon came up with those names from a party which him and his wife Peggy were mistaken for Al and Betty.</p>
        <p>Of course, there are plenty of people out there know simply as Al.  Short for Albert, here are a list of people, both real and fictional, who go by the name Al:</p>
        <ul>
			<li *ngFor="let famousAl of famousAls" class="famousAl">
				{{famousAl}}
			</li>
        </ul>
      </div>   
</div>
    <div class="flex-container">
			<div class="flex-item article">
				<h1>So We Made it to Maryland</h1>
					<p>After our uneventful flight, we arrived at BWI where the first thing we noticed was how hot and muggy it was; much muggier than Portland ever gets.  Thankfully, Neal showed up not too long after, though we had to wait a little bit because our flight (unfortunately, as the humorous Pilot put it) arrived early.  He had a new car than from the last time I was in Maryland, and it was slick, but one thing that struck me was the bad stench to Neal's car.  I've smelled worse, but it was noticeable enough.  Other than that, the car was nice and modern, with the now standard back-up camera, as well as the optional lane change camera.</p>
					<p>We headed down to our hotel in Laurel, the Holiday Inn Express.  I'd only stayed in one Holiday Inn before this one; in Venice.  My first Holiday Inn in the United States.  Whooppee!  The place wasn't bad, a typical chain hotel.  We stayed in Room 319, which Jenn whined out when saying its name.  Then we ate our "Dinner" at Pho Kevin, even though it felt like our lunch.  That's the joys of time change.  See the "dinner" review below.</p>
					<p>After a much needed meal, and picking up a few necessary items at the grocery store next door, it was back to the hotel.  Though Jenn and I were tired, it was Neal who appeared to be in the worst physical shape, as Jenn gave him an unorthodox chiropractic message, which Jenn dubbed: Two Deaths and a Chiropractic Treatment.  Even though it was late and we were tired, we weren't there to sleep.  We were there to have fun.  So began the real fun, starting with some night time fun in Baltimore.</p>
			</div>
    </div>	
    <div class="flex-container">
      <a class="ad flex-container" href="http://fortune-cookie.bodiewebdesign.com">
        <img class="flex-item" src="assets/fortune.gif" alt="Read Your Fortune Cookie"/>
      </a>
		</div>
		<div class="flex-container">
			<div class="flex-item">
					<h1>Dinner Review: Pho Kevin</h1>
					<h3>How to Eat Pho by Neal Pitts</h3>
					<p>Our first night in Maryland led us to try Vietnamese food, particularly their Pho, Vietnamese noodle soup that's considered a specialty.  But making Pho, like a bicycle, requires multiple steps to achieve its tastiness and unique flavors.  With that said, here were the instructions Neal gave us for preparing our Pho.</p>
					<ol>
							<li>Give Adam all the White Onions.  If you don't like onions, don't order them in your Pho.  Otherwise, I’d be glad to add their rich, crisp flavor into my Pho.</li>
							<li>Sprinkle two leaves of cilantro into small pieces into the Pho.</li>
							<li>Squeeze Lime Juice into the Pho.</li>
							<li>Add a chunk of sprouts on top for texture.</li>
							<li>Add a dash of plum sauce and/or sriracha for flavor and spice.  Plum sauce isn't spicy, but Sriracha clearly is.</li>
							<li>Drop jalapeños if you like it super hot.  Warning, don't bite into it unless you want your tongue to burn.</li>
							<li>Scoop with spoon, using chopsticks to hold noodles closely with the broth in spoon.</li>
							<li>Move your mouth close to the spoon and enjoy.</li>
							<li>Repeat steps seven and eight until your meal is done.</li>
					</ol>
					<p>Also on the menu was a Thai Iced Tea, which serves as a delicious, sweet and tasty drink made from tea, milk and sugar.  Added for extra tastiness were the Boba, also known as the Tapioca balls.  Another nice way to begin our adventurous trip.</p>

			</div>
			<div class="flex-item">
				<img class="img-responsive" src="{{link}}photos/kevin3.jpg" alt="Pho Kevin"/>
			</div>
		</div>
			<div class="flex-container">
		<div class="flex-item"><button class="btn btn-primary" routerLink="/#">Previous</button></div>
		<div class="flex-item"><button class="btn btn-primary" routerLink="/one">Next</button></div>
	</div>
	<router-outlet></router-outlet>
