<div class="flex-container">
    <div class="flex-item">
		<carousel>
		  <slide *ngFor="let phillyPicture of phillyPictures">
				<figure>
				<a href="{{link}}photos/{{phillyPicture.image}}">
					<img src="{{link}}photos/{{phillyPicture.image}}" alt="{{phillyPicture.alt}}" class="img-responsive main-carousel">
				</a>
			<figcaption>
			  <h3>{{phillyPicture.title}}</h3>
			  <p>{{phillyPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>	
</div>
<div class="flex-container">
	<div class="flex-item">
		<carousel>
		  <slide *ngFor="let chidoPicture of chidoPictures">
				<figure>
				<a href="{{link}}photos/{{chidoPicture.image}}">
					<img src="{{link}}photos/{{chidoPicture.image}}" alt="{{chidoPicture.alt}}" class="img-responsive main-carousel">
				</a>
			<figcaption>
			  <h3>{{chidoPicture.title}}</h3>
			  <p>{{chidoPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>		
	</div>
	<div class="flex-item">
		<h1>Chido's Review</h1>
		<h4>{{date}}</h4>
		<p>With Neal asleep in the back seat and Jenn and I hungry, we both decided Mexican food sounded good.  Once we arrived at Neal’s place, he suggested the same, so it was off to Chido’s, a Tex Mex restaurant next to our hotel (how convenient).  We got there just before the kitchen closed (a common theme throughout the trip).  I ordered the typical Margarita, while Jenn had a Virgin mystery flavored Mojito (I think it was Mango, maybe it was Melon).  For food, I got creative and ordered a Taco Salad with Chicken.  A tasty meal, but a bit too fulfilling for me.  The chips and salsa provided was also enjoyable, though not legendary by any means.</p>
	</div>	
</div>
<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/two/art">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="#">Next</button></div>
</div>
<router-outlet></router-outlet>	
