<div class="flex-container">
    <div class="flex-item">
		<carousel>
		  <slide *ngFor="let phillyPicture of phillyPictures">
				<figure>
				<a href="{{link}}photos/{{phillyPicture.image}}">
					<img src="{{link}}photos/{{phillyPicture.image}}" alt="{{phillyPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{phillyPicture.title}}</h3>
			  <p>{{phillyPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>
    </div>
    	<div class="flex-item">
		<h1>Goodbye Philly</h1>
		<h4>{{date}}</h4>
		<p>When it was all said and done, it was time to leave Philadelphia and head back to Laurel.  Driving back from Philly, it was a little sad leaving.  I really enjoyed Philadelphia.  It's true what they say; Sometimes the unexpected things in life can truly be the best.  But at the same time, we had bigger adventures ahead.  One thing I really liked about Philly was the culture.  A perfect blend of history and modern wonders, there are lots of adventures to be had in Philly.  Heading back was obviously much of the same, since we took the same route.  Jenn did some driving as Neal was incredibly pooped.</p>
	</div>
	
</div>
<div class="flex-container">
    <div class="flex-item">
		<h1>Susquehanna vs. Schuylkill: The Tale of Two Funny Rivers</h1>
		<h4>{{date}}</h4>
		<p>The trip from Maryland to Pennsylvania saw us see two rivers with particularly unique names, the Susquehanna River and the Schuylkill River.  The type of names one would never forget.  Definitely more noticable than Snake River.  Of course, behind every name is an equally fascinating  Where do these names come from, and which one is better?  Here are my thoughts.</p>
		<p>Driving pass Havre De Grace is the Susquehanna River, which empties in the Chesapeake Bay and goes well into Pennsylvania, 464 miles in length before reaching its source in Upstate New York.  Pronounced Suskwehanna, the name is from a Delaware Indian term meaning Oyster River.  As it turns out, Oyster beds were found near the mouth of the river, leading to its name.</p>  
		<p>On the flip side is Schuylkill River, a tributary of the Delaware River, which flows 135 miles from the Delaware to Upstate Pennsylvania.  Pronounced School-kill, The name comes from a Dutch term meaning Hidden Creek.  This was maybe because of the river's confluence with the Delaware River that was hidden by dense vegetation.</p>
		<p>There are certainly many reasons to enjoy the names Susquehanna and Schuylkill, despite that fact that each River's name is easier to misspell.  As it is, I can misspell Schulykill, Schulkyill or Schulkill all from Schuylkill.  Of course, there's also Suquehanna, Susquhanna or Susquehana.  In a perfect world, we'd have Susqueschuylkillhanna or Schuylsquesukillhanna or Sukillhannaqueschuyl.  But at the end of the day, we have Susquehanna and Schuylkill, both located in Pennsylvania within one hour apart.</p>

    </div>
</div>
<div class="flex-container">
	<img src="assets/philadelphia.jpg" class="img-responsive" id="philadelphia"/>
</div>
<div class="flex-container">
	<div class="flex-item">
		<carousel>
		  <slide *ngFor="let chidoPicture of chidoPictures">
				<figure>
				<a href="{{link}}photos/{{chidoPicture.image}}">
					<img src="{{link}}photos/{{chidoPicture.image}}" alt="{{chidoPicture.alt}}" class="img-responsive secondary-carousel">
				</a>
			<figcaption>
			  <h3>{{chidoPicture.title}}</h3>
			  <p>{{chidoPicture.description}}</p>   
			</figcaption>
			</figure>
		  </slide>
		</carousel>		
	</div>
	<div class="flex-item">
		<h1>Chido's Review</h1>
		<h4>{{date}}</h4>
		<p>With Neal asleep in the back seat and Jenn and I hungry, we both decided Mexican food sounded good.  Once we arrived at Neal’s place, he suggested the same, so it was off to Chido’s, a Tex Mex restaurant next to our hotel (how convenient).  We got there just before the kitchen closed (a common theme throughout the trip).  I ordered the typical Margarita, while Jenn had a Virgin mystery flavored Mojito (I think it was Mango, maybe it was Melon).  For food, I got creative and ordered a Taco Salad with Chicken.  A tasty meal, but a bit too fulfilling for me.  The chips and salsa provided was also enjoyable, though not legendary by any means.</p>
	</div>	
</div>
<div class="flex-container">
	<div class="flex-item"><button class="btn btn-primary" routerLink="/two/art">Previous</button></div>
	<div class="flex-item"><button class="btn btn-primary" routerLink="/three/capitol">Next</button></div>
</div>
<router-outlet></router-outlet>	
