/* You can add global styles to this file, and also import other style files */
p {
  font-weight: bold;
  color: white;
}

h1 {
  color: #FFF;
  font-family: 'Abril Fatface', cursive;
  font-size: 250%;
  margin: 20px;
}


.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-indicators {
    display: none;
}

.carousel-inner > .item > img {
    margin: 0 auto;

}

.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        display: block;
    }
}