/* You can add global styles to this file, and also import other style files */
p {
  color: white;
}

h1 {
  color: #F5D15D;
  font-family: 'Abril Fatface', cursive;
  font-size: 250%;
  margin: 20px;
}
h4 {
  color: white;
  text-align: right;
  font-weight: bold;
}
li {
	color: white;
	list-style: none;
}

img {
display: block; 
margin: 0 auto;
}
figure {
  margin: 0;
  position: relative;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 18px 60px 0 rgba(255, 255, 255, 0.19);
}
figcaption {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-indicators {
    display: none;
}

.carousel-inner > .item > img {
    margin: 0 auto;

}

.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
}

.panel-body {
    padding: 0px;
    background-color: #5b52c5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
