<div class="flex-container center">
    <div class="flex-item paragraph">
        <div [hidden]="submitted"><h1>Welcome!</h1></div>
        <div [hidden]="!submitted"><h1>Welcome {{name}} from {{location}}!</h1></div>        
    <p>Letterpress live-edge VHS organic, chia kinfolk viral listicle skateboard. Lyft fingerstache brunch banh mi tote bag meggings. Pitchfork celiac wayfarers, tbh cornhole iceland irony synth leggings fap tofu selfies photo booth enamel pin salvia. Taxidermy YOLO banjo, tofu dreamcatcher raw denim VHS next level. Authentic salvia wolf pabst. Sustainable pitchfork tattooed kinfolk echo park. Cronut hot chicken taxidermy, chillwave freegan vaporware lyft truffaut. Feel free to check out my projects to see my pictures from places including {{items}}</p>   
        <form [hidden]="submitted" (submit)="onSubmit()" novalidate>
            <h2>Tell us a Little About Yourself</h2>
            <div>
                <label for="name">What's your name?</label><br>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name" required minlength="2" #nameField="ngModel" >
                <label for="location">Where are you from?</label><br>
                <input type="text" id="location" name="location" class="form-control" [(ngModel)]="location" required minlength="5" #locationField="ngModel"/>              
            </div>
            <div>
                <button class="btn btn-primary">Submit</button>
            </div>

        </form>
        
        <form [hidden]="!submitted" (submit)="onClear()">
            <div>
                <button class="btn btn-primary">Clear</button>
            </div>
        </form>            
    </div>
    <div class="flex-item image">
    <figure>
        <img src="{{photo}}" alt="cover" class="img-responsive"/>
        <figcaption>Philadelphia Art Museum</figcaption>
    </figure>
    </div>
</div>
    <div class="ad">
        <a href="http://www.bodiewebdesign.com" class="flex-container">
        <div class="flex-item"><img src="assets/bwd-logo.gif" alt="Bodie Web Design"/></div>
        <div class="flex-item text"><h1>Bodie Web Design</h1></div>
        </a>
    </div>
    
<div class="flex-container">
	<div class="flex-item featured">
	    <h1>Featured articles</h1>
	</div>
	<div class="flex-item image">
    <figure>
        <img src="{{photo2}}" alt="placehold"  class="img-responsive"/>
        <figcaption>caption</figcaption>
    </figure>
    <p>Poutine intelligentsia hashtag, pork belly lo-fi gluten-free gentrify mlkshk fanny pack. Slow-carb four loko live-edge, craft beer kogi brooklyn mixtape art party butcher beard ramps vegan wolf cred. </p>   
<button class="btn btn-primary" routerLink='/two/independence'>Click Here</button>
    </div>
	    <div class="flex-item image">
    <figure>
        <img src="{{photo3}}" alt="placehold"  class="img-responsive"/>
        <figcaption>caption</figcaption>
    </figure>
    <p>Hoodie kogi art party live-edge godard gluten-free. Mixtape unicorn retro, tumeric man braid typewriter flexitarian scenester yuccie woke swag.</p>   
<button class="btn btn-primary" routerLink='/two/pride'>Click Here</button>
    </div>
	    <div class="flex-item image">
    <figure>
        <img src="{{photo4}}" alt="placehold" class="img-responsive"/>
        <figcaption>caption</figcaption>
    </figure>
    <p>Bicycle rights gluten-free austin ethical taiyaki church-key lomo shabby chic, vaporware mumblecore raclette kinfolk fingerstache. Hexagon whatever pop-up, DIY vegan skateboard art party quinoa thundercats hot chicken schlitz food truck.</p>   
    <button class="btn btn-primary" routerLink='/two/penn'>Click Here</button>
    </div>
</div>  