a {
	color: white;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
}

.flex-item {
	padding: 20px;
}

button {
  margin-top: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  color: #F5D15D;
  font-family: 'Abril Fatface', cursive;
  font-size: 250%;
}

.ad {
  background: #4E79A9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4E79A9 , #FFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4E79A9, #FFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4E79A9, #FFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4E79A9 , #FFF); /* Standard syntax */
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.ad  h1 {
  display: none;
}
.text {
  padding: 0;
}
.ad a {
  text-decoration: none;
}

figure {
  margin: 0;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 18px 60px 0 rgba(255, 255, 255, 0.19);
}
figcaption {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


@media screen and (min-width: 480px) {

.flex-container {
    display: -webkit-flex;
    display: flex;
    padding: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;    
}

.featured {
	width: 100%;
}
.image {
    -webkit-flex: 1;
    flex: 1;
}
.paragraph {
    -webkit-flex: 1;
    flex: 1;  
}
.ad  h1 {
  display: block;
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 3em;
  margin-left: 30px;
}
.text {
  padding: 20px;
}
}
